/* Font
------- */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Roman&family=Neonderthaw&family=Poppins:wght@400;500&family=Raleway:ital,wght@0,500;0,700;1,600&display=swap');

/* common styles
--------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* header section style 
----------------------- */
header{
    height: 75px;
    background-color: #f9f8fd;
   
}

.nav-bar{
    display: flex;
    justify-content:space-between;
    align-items: center;  
    padding: 20px 50px; 
    margin-left: 50px;
}
.main-menu ul{
    display:flex;
    margin-bottom: 30px;
}
.main-menu ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 16px;
}
.main-menu ul li:hover{
    color: #E02C6D;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s ease-in;
}
.main-menu ul li a{
    text-decoration: none;
    color: black;
}
/* Top section style  */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 120px;
}
.container img{
    width: 400px;
   
}
.text-area{
    margin-right: 70px;
}
.container h1{
    font-size: 52px;
    margin-bottom: 20px;
}
.container p{
    font-size: 16px;
    line-height: 2;
}
button{
    outline: 0;
    background-color:#E02C6D ;
    border:2px solid #E02C6D;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
button:hover {
    background-color: transparent;
    color: #E02C6D;
    
}
/* Shop style  */
.online-shop{
    padding: 0 149px;
    width: 870px;
    height: 100px;
    margin-left: 50px;
}
.online-shop img{
    align-items: center;
    margin: 15px;
   
}

.top-collection{
    background-color: #FFFFFF;
    width: 1075px;
    padding: 0 120px;
    margin-top: 21px;
    border-radius: 5px;
}
.all-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    border-radius: 13.36px; 
    padding: 20px; 
}
.collection{
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(201, 199, 199);
     padding: 25px; 
}
.section-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}
.collection-bannar img{
  width: 280px;
  height: 245px;
  
}
.collection-detail{
    line-height: 1.5;
}
.fa-star{
    color: #FFC014;
}
.fa-star-half-alt{
    color: #FFC014;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px 0px;
    line-height: 1.5;
}
.media-site i{
    font-size: 22px;
   border: 8px solid #22213C;
   border-radius: 50px;
   margin-right: 16px;
}
.survise-item{
    display: flex;
    justify-content: space-around;
    margin: 0 ;
}
.survise{
    margin: 15px;
    padding: 10px;

    
}
.survise i{
    font-size: 30px;
  padding: 0 70px;
}
.survise h3 small{
    text-align: center;
}